html
  head
    title="Main page"
    style
      | * {font-family: "Helvetica", Arial, Times New Roman}
  body
    h1 Environment: #{environment.name}
    p Click the name of a feature to view its history.
    a(href='/app') Return to main page
    h2 Features:
    ul
      each feature in features
        if feature.type == 'atomic'
          li
            a(href=`/app/environment/${environment.name}/feature/${feature.name}`) #{feature.name}:#{' '}
              | [#{enabled[feature.name] ? 'ENABLED' : 'DISABLED'}]
            form(
              method='post'
              action=`/api/environments/${environment.name}/feature/${feature.name}`
            )
              input(type='submit' value='Toggle enabled/disabled')
        else if feature.type == 'namespace'
          li='NAMESPACE: '+feature.name+' '
            | [#{_.every(feature.entries.map(x => enabled[feature.name][x])) ? 'ENABLED' : 'DISABLED'}]
            form(
              method='post'
              action=`/api/environments/${environment.name}/namespace/${feature.name}`
            )
              input(type='submit' name='action' value='Enable All')
              input(type='submit' name='action' value='Disable All')
            ul
              each entry in feature.entries
                a(href=`/app/environment/${environment.name}/namespace/${feature.name}/feature/${entry}`) #{entry}:#{' '}
                  | [#{enabled[feature.name][entry] ? 'ENABLED' : 'DISABLED'}]
                  form(
                    method='post'
                    action=`/api/environments/${environment.name}/namespace/${feature.name}/feature/${entry}`
                  )
                    input(type='submit' value='Toggle enabled/disabled')
