html
  head
    title="Main page"
    style
      | * {font-family: "Helvetica", Arial, Times New Roman}
  body
    h1 Environment: #{environment.name}
    p
      | We use the IP address as a stand-in for the user,
      | because we don't want to implement authentication logic.
    h2 Flag: #{feature ? feature.name : entry}
    a(href='/app/environment/'+environment.name) Return to environment page
    h2 Changes:
    ul
      each log in logs
        li=`${log.info}: by ${log.user} at ${log.date}`
