html
  head
    title="Main page"
    style
      | * {font-family: "Helvetica", Arial, Times New Roman}
  body
    h1 Feature flag console
    p
      | This page allows development teams to toggle features on different
      | environments. Select an environment below to toggle its features,
      | or add a new namespace/feature below.
    h2 Environments:
    ul
      each name in names
        li
          a(href=`app/${name}`) #{name}
    h2 Features:
    ul
      each feature in features
        if feature.type == 'atomic'
          li #{feature.name}
        else if feature.type == 'namespace'
          li #{'NAMESPACE: ' + feature.name}
            ul
              each entry in feature.entries
                li #{feature.name + '.' + entry}
    h3 Add new feature:
    form(method='post' action='/api/features' id='new-feature')
      label(for='featureName')='Feature name: '
      input(type='text' name='featureName')
      br
      label(for='namespace')="In namespace: "
      select(name='namespace' form='new-feature')
        option(value=NULL) (none)
        each feature in features
          if feature.type == 'namespace'
            option(value=feature.name) #{feature.name}
      br
      input(type='submit' value='Add new feature')

    h3 Add new namespace:
    form(method='post' action='/api/namespaces')
      label(for='namespaceName')='Namespace name: '
      input(type='text' name='namespaceName')
      br
      input(type='submit' value='Add new namespace')
